In [1]:
from lxml import etree
import pandas as pd
from tqdm import tqdm
import os

In [2]:
#setup
path = 'OneDrive_2_19-04-2023'
xml_file= '20230421-100059-ALL CONTRACTS.xml'
# Opening excel and xml file
tree = etree.parse(f'{path}/{xml_file}')
root=tree.getroot()

In [13]:
#####XML######
# Getting numbers and list with products
list_all = []
Contract = tree.xpath('.//ContractOffer')
for contract in Contract:
    Program = contract.xpath('.//Program')
    for program in Program:
        Discount = program.xpath('.//DiscountOffListLI')
        for discount in Discount:
            Price = discount.xpath('.//LIPrices')
            for price in Price:
                list_all.append([contract.attrib['Customer'], contract.attrib['DocName'],
                program.attrib['CustomerContractId'],
                # program.attrib['SalesDealNo'], 
                program.attrib['Name'],
                discount.attrib['ProductNum'],
                price.attrib['PriceHigh']])
# dataframes
xml_all = pd.DataFrame(list_all)
xml_all.columns =['Customer ID',  'Division','Contract ID',
'Price Program Name', 
'Product ID', 'Price']

In [41]:
xml_all['Division2'] = xml_all['Division'].astype(str).str[:3]

In [30]:
xml_crm = xml_all.loc[xml_all['Division']== 'CRM']
xml_nmd = xml_all.loc[xml_all['Division']== 'NMD']

In [31]:
xml_rest = xml_all.loc[(xml_all['Division'] != 'NMD') & (xml_all['Division'] != 'CRM')]

In [42]:
xml_all.to_excel('all.xlsx')

In [32]:
# aggregating xml
xml_rest_gr = xml_rest.groupby([
    # 'DealNo', 
    'Contract ID', 'Price Program Name'
]).size().reset_index(name='counts')

In [32]:
# contract number
xml_crm['Customer ID'] = pd.to_numeric(xml_crm['Customer ID'])
xml_crm['Customer ID'].nunique()

/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_1910/3205228732.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xml_crm['Customer ID'] = pd.to_numeric(xml_crm['Customer ID'])

48

In [33]:
# contract number
xml_rest['Customer ID'] = pd.to_numeric(xml_rest['Customer ID'])
xml_rest['Customer ID'].nunique()

/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_1910/98800825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xml_rest['Customer ID'] = pd.to_numeric(xml_rest['Customer ID'])

33

In [34]:
# contract number
xml_all['Customer ID'] = pd.to_numeric(xml_all['Customer ID'])
xml_all['Customer ID'].nunique()

155

In [35]:
# contract number
xml_nmd['Customer ID'] = pd.to_numeric(xml_nmd['Customer ID'])
xml_nmd['Customer ID'].nunique()

/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_1910/3814988237.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xml_nmd['Customer ID'] = pd.to_numeric(xml_nmd['Customer ID'])

74

In [5]:
# aggregating xml
xml_all_gr = xml_all.groupby([
    # 'DealNo', 
    'Contract ID', 'Price Program Name'
]).size().reset_index(name='counts')

In [22]:
# aggregating xml
xml_crm_gr = xml_crm.groupby([
    # 'DealNo', 
    'Contract ID', 'Price Program Name'
]).size().reset_index(name='counts')

In [24]:
# aggregating xml
xml_nmd_gr = xml_nmd.groupby([
    # 'DealNo', 
    'Contract ID', 'Price Program Name'
]).size().reset_index(name='counts')

In [26]:
xml_crm_gr.to_excel('crm_xml.xlsx')
xml_nmd_gr.to_excel('crm_nmd.xlsx')

In [10]:
#####XML######
# Getting numbers and list with products
list_rebut = []
Contract = tree.xpath('.//ContractOffer')
for contract in Contract:
    Program = contract.xpath('.//Program')
    for program in Program:
        Line = program.xpath('.//LineItem')
        for line in Line:
            list_rebut.append([contract.attrib['CustomerContractId'], contract.attrib['DocName'],
            # program.attrib['SalesDealNo'], 
            program.attrib['Name'],
            line.attrib['ProductNum']])
# dataframes
xml_rebut = pd.DataFrame(list_rebut)
xml_rebut.columns =['Contract ID',  'Division',
'Price Program Name', 
'Product ID']

In [4]:
xml_rebut

,Contract ID,Division,Price Program Name,Product ID
0,60669,NMD_STDREB_536565_HERNDON SURGERY CENTER_BB,SALES_SCS+VF+RF,2_700
1,60669,NMD_STDREB_536565_HERNDON SURGERY CENTER_BB,SALES_SCS+VF+RF,2_726
2,60669,NMD_STDREB_536565_HERNDON SURGERY CENTER_BB,SALES_SCS+VF+RF,2_735
3,20555,NMD_STDREB_169939_BONE & JOINT MUSCULOSKELETAL_BB,SALES_SCS+VF+RF,2_700
4,20555,NMD_STDREB_169939_BONE & JOINT MUSCULOSKELETAL_BB,SALES_SCS+VF+RF,2_726
...,...,...,...,...
141,80905,80905_UFHEALTH_ICM,ICM Rebate,5_M301
142,90017,90017_Baptist Memorial Healthcare Corp_ICM,ICM Rebate,5_M301
143,21357,21357_REID Health_ICM,ICM Rebate,5_M301
144,101600,101600_EMORYHEA_ICM,ICM Rebate,5_M301
145,338392,338392_Archibald Surgery Center_ICM,ICM Rebate,5_M301

In [11]:
# aggregating xml
xml_rebut_gr = xml_rebut.groupby([
    # 'DealNo', 
    'Contract ID', 'Price Program Name'
]).size().reset_index(name='counts')

In [10]:
xml_rebut.to_excel('rebut.xlsx')

In [5]:
#####XML######committement
# Getting numbers and list with products
list_comm = []
Contract = tree.xpath('.//ContractOffer')
for contract in Contract:
    Program = contract.xpath('.//CommitmentRecord')
    for program in Program:
        Line = program.xpath('.//AccruedCustomer')
        for line in Line:
            list_comm.append([contract.attrib['CustomerContractId'], contract.attrib['DocName'],
            # program.attrib['SalesDealNo'], 
            program.attrib['Program'],
            line.attrib['MemberName']])
# dataframes
xml_comm = pd.DataFrame(list_comm)
xml_comm.columns =['Contract ID',  'Division',
'Price Program Name', 
'Product ID']

In [10]:
#####XML######
# Getting numbers and list with products
list_comm = []
Contract = tree.xpath('.//ContractOffer')
for contract in Contract:
    Program = contract.xpath('.//CommitmentRecord')
    for program in Program:
        list_comm.append([contract.attrib['CustomerContractId'], contract.attrib['DocName'],
        # program.attrib['SalesDealNo'], 
        program.attrib['Program']])
       # line.attrib['MemberName']])
# dataframes
xml_comm = pd.DataFrame(list_comm)
xml_comm.columns =['Contract ID',  'Division',
'Price Program Name']
#'Product ID']

In [7]:

# aggregating xml
xml_comm_gr = xml_comm.groupby([
    # 'DealNo', 
    'Contract ID', 'Price Program Name'
]).size().reset_index(name='counts')

In [8]:
xml_comm_gr

   Contract ID   Price Program Name  counts
0        15556            UNITS_DBS       1
1        17213                  ICM       1
2        17561                  ICM       1
3        18886            UNITS_DBS       1
4        20419            UNITS_SCS       1
5        20555      SALES_SCS+VF+RF       1
6        20555            UNITS_SCS       1
7        20555             UNITS_VF       1
8        21243                  ICM       1
9        21325                  ICM       1
10       31008             UNITS_VF       1
11       32910            UNITS_SCS       1
12       37358            UNITS_DBS       1
13       37530      SALES_SCS+VF+RF       1
14       46117            UNITS_SCS       1
15       52309      SALES_SCS+VF+RF       1
16       52372             UNITS_VF       1
17       60669      SALES_SCS+VF+RF       1
18       60786            UNITS_SCS       1
19       60786             UNITS_VF       1
20       61300      SALES_SCS+VF+RF       1
21       61532      SALES_SCS+VF+RF       1
22       61792  SALES_SCS+VF+RF+DBS       1
23       61901      SALES_SCS+VF+RF       1
24       61901            UNITS_SCS       1
25       61921            UNITS_SCS       1
26       62740            UNITS_SCS       1
27      630082                  ICM       1
28       65933      SALES_SCS+VF+RF       1
29       65933            UNITS_SCS       1
30       65933             UNITS_VF       1
31      739530                  ICM       1
32       80844                  ICM       1
33       90275                  CRM       1
34      959272                  ICM       1
35      959460                  ICM       1
36      966949                  ICM       1
37      968487                  ICM       1
38      969175                  ICM       1
39      972607                  ICM       1
40      978444                  ICM       1

In [12]:
xml_rebut_gr

   Contract ID  Price Program Name  counts
0       101600          ICM Rebate       1
1        10713  CRM and ICM Rebate       5
2        12771              Growth       4
3        14481        Market Share       4
4        15556           UNITS_DBS       3
..         ...                 ...     ...
59      968487                 ICM       1
60      969175                 ICM       1
61      972607                 ICM       1
62      972607          ICM Rebate       1
63      978444                 ICM       1

[64 rows x 3 columns]

In [13]:
comm_gr= pd.merge(xml_comm_gr ,xml_rebut_gr, left_on=['Contract ID', 'Price Program Name'], right_on=['Contract ID', 'Price Program Name'], how='outer')

In [15]:
comm_gr.to_excel('merged comm.xlsx')

In [16]:
#####XML######other commitements
# Getting numbers and list with products
list_comm = []
Contract = tree.xpath('.//ContractOffer')
for contract in Contract:
    Program = contract.xpath('.//CommitmentRecord')
    for program in Program:
        list_comm.append([contract.attrib['CustomerContractId'], contract.attrib['DocName'],
        # program.attrib['SalesDealNo'], 
        program.attrib['Program']])
       # line.attrib['MemberName']])
# dataframes
xml_comm_2 = pd.DataFrame(list_comm)
xml_comm_2.columns =['Contract ID',  'Division',
'Price Program Name']
#'Product ID']

In [18]:

# aggregating xml
xml_comm_gr2 = xml_comm_2.groupby([
    # 'DealNo', 
    'Contract ID', 'Price Program Name'
]).size().reset_index(name='counts')

In [19]:
comm_gr2= pd.merge(xml_comm_gr2 ,xml_rebut_gr, left_on=['Contract ID', 'Price Program Name'], right_on=['Contract ID', 'Price Program Name'], how='outer')

In [21]:
comm_gr2.to_excel('oher comm merged.xlsx')